<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wonder.blog.mapper.LogLoginMapper">

    <resultMap id="BaseResultMap" type="com.wonder.blog.entity.LogLoginDO">
        <id property="id" column="id"/>
        <id property="username" column="username"/>
        <result property="ip" column="ip"/>
        <result property="ipSource" column="ip_source"/>
        <result property="os" column="os"/>
        <result property="browser" column="browser"/>
        <result property="loginStatus" column="login_status"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="userAgent" column="user_agent"/>
        <result property="status" column="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , username, ip, ip_source, os, browser, login_status, description, create_time, user_agent, status
    </sql>

    <insert id="insertSelective">
        insert into log_login
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="ip != null">ip,</if>
            <if test="ipSource != null">ip_source,</if>
            <if test="os != null">os,</if>
            <if test="browser != null">browser,</if>
            <if test="loginStatus != null">login_status,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
            <if test="userAgent != null">user_agent,</if>
            <if test="status != null">status,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=NUMERIC},</if>
            <if test="username != null">#{username,jdbcType=VARCHAR},</if>
            <if test="ip != null">#{ip,jdbcType=VARCHAR},</if>
            <if test="ipSource != null">#{ipSource,jdbcType=VARCHAR},</if>
            <if test="os != null">#{os,jdbcType=VARCHAR},</if>
            <if test="browser != null">#{browser,jdbcType=VARCHAR},</if>
            <if test="loginStatus != null">#{loginStatus,jdbcType=BOOLEAN},</if>
            <if test="description != null">#{description,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="userAgent != null">#{userAgent,jdbcType=VARCHAR},</if>
            <if test="status != null">#{status,jdbcType=NUMERIC},</if>
        </trim>
    </insert>

    <update id="updateSelective">
        update log_login
        <set>
            <if test="ip != null">ip=#{ip,jdbcType=VARCHAR},</if>
            <if test="ipSource != null">ip_source=#{ipSource,jdbcType=VARCHAR},</if>
            <if test="os != null">os=#{os,jdbcType=VARCHAR},</if>
            <if test="browser != null">browser=#{browser,jdbcType=VARCHAR},</if>
            <if test="username != null">browser=#{username,jdbcType=VARCHAR},</if>
            <if test="loginStatus != null">login_status=#{loginStatus,jdbcType=BOOLEAN},</if>
            <if test="description != null">description=#{description,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="userAgent != null">user_agent=#{userAgent,jdbcType=VARCHAR},</if>
            <if test="status != null">status=#{status,jdbcType=NUMERIC},</if>
        </set>
        where id = #{id,jdbcType=NUMERIC}
    </update>

    <select id="countBy" resultType="java.lang.Integer">
        select count(*) from log_login
        <include refid="pageWhere"/>
    </select>

    <select id="pageBy" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from log_login
        <include refid="pageWhere"/>
        order by id desc
        limit #{offset},#{size}
    </select>

    <sql id="pageWhere">
        <where>
            status = 1
            <if test="startDate != null">
                and create_time >= #{startDate}
            </if>
            <if test="endDate != null">
                and create_time &lt;= #{endDate}
            </if>
        </where>
    </sql>

</mapper>