<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wonder.blog.mapper.VisitCityMapper">

    <resultMap id="cityVisitor" type="com.wonder.blog.entity.VisitCityDO">
        <result property="id" column="id"/>
        <result property="city" column="city"/>
        <result property="uv" column="uv"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,city,uv
    </sql>

    <!--查询城市访客数-->
    <select id="listAll" resultMap="cityVisitor">
        select
        <include refid="Base_Column_List"/>
        from visit_city order by uv desc
    </select>

    <!--添加访问记录-->
    <insert id="saveCityVisitor" parameterType="com.wonder.blog.entity.VisitCityDO">
        insert into visit_city (city, uv)
        values (#{city}, #{uv}) on duplicate key
        update
            uv=uv+#{uv}
    </insert>

</mapper>