<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yond.mapper.AboutMapper">
    <resultMap id="BASE_MAP" type="com.yond.entity.AboutDO"/>

    <sql id="ALL_FILED">
        id as id,
        name_en as nameEn,
        name_zh as nameZh,
        value as value
    </sql>

    <!--查询关于我设置-->
    <select id="listAll" resultMap="BASE_MAP">
        select
        <include refid="ALL_FILED"/>
        from about
    </select>

    <!--更新关于我设置-->
    <update id="updateAbout">
        update about
        set value=#{value}
        where name_en = #{nameEn}
    </update>

</mapper>
