<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yond.mapper.CityVisitorMapper">

    <resultMap id="cityVisitor" type="com.yond.entity.CityVisitorDO">
        <result property="city" column="city"/>
        <result property="uv" column="uv"/>
    </resultMap>

    <sql id="Base_Column_List">
        city,uv
    </sql>

    <!--查询城市访客数-->
    <select id="listAll" resultMap="cityVisitor">
        select <include refid="Base_Column_List"/>
        from city_visitor order by uv desc
    </select>

    <!--添加访问记录-->
    <insert id="saveCityVisitor" parameterType="com.yond.entity.CityVisitorDO">
        insert into city_visitor (city, uv) values (#{city}, #{uv})
        on duplicate key update
        uv=uv+#{uv}
    </insert>
</mapper>