<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yond.blog.mapper.LogVisitMapper">

    <resultMap id="log" type="com.yond.blog.entity.LogVisitDO">
        <id property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="uri" column="uri"/>
        <result property="method" column="method"/>
        <result property="param" column="param"/>
        <result property="behavior" column="behavior"/>
        <result property="content" column="content"/>
        <result property="remark" column="remark"/>
        <result property="ip" column="ip"/>
        <result property="ipSource" column="ip_source"/>
        <result property="os" column="os"/>
        <result property="browser" column="browser"/>
        <result property="times" column="times"/>
        <result property="createTime" column="create_time"/>
        <result property="userAgent" column="user_agent"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , uuid, uri, `method`, param, behavior, content, remark, ip, ip_source, os, browser, times, create_time,status
    </sql>

    <resultMap id="logDTO" type="com.yond.blog.web.blog.view.dto.VisitLogUuidTime">
        <result property="uuid" column="uuid"/>
        <result property="time" column="create_time"/>
    </resultMap>

    <!--查询昨天的所有访问日志-->
    <select id="getUUIDAndCreateTimeByYesterday" resultMap="logDTO">
        select uuid, create_time
        from log_visit
        where date (create_time)=date_sub(curdate(), interval 1 day)
        order by id desc
    </select>

    <!--查询今日访问量-->
    <select id="countVisitLogByToday" resultType="java.lang.Integer">
        select count(*)
        from log_visit
        where date (create_time)=curdate()
    </select>


    <insert id="insertSelective">
        insert into log_visit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uuid != null">uuid,</if>
            <if test="uri != null">uri,</if>
            <if test="method != null">method,</if>
            <if test="param != null">param,</if>
            <if test="behavior != null">behavior,</if>
            <if test="content != null">content,</if>
            <if test="remark != null">remark,</if>
            <if test="ip != null">ip,</if>
            <if test="ipSource != null">ip_source,</if>
            <if test="os != null">os,</if>
            <if test="browser != null">browser,</if>
            <if test="times != null">times,</if>
            <if test="createTime != null">create_time,</if>
            <if test="userAgent != null">user_agent,</if>
            <if test="status != null">status,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=NUMERIC},</if>
            <if test="uuid != null">#{uuid,jdbcType=VARCHAR},</if>
            <if test="uri != null">#{uri,jdbcType=VARCHAR},</if>
            <if test="method != null">#{method,jdbcType=VARCHAR},</if>
            <if test="param != null">#{param,jdbcType=VARCHAR},</if>
            <if test="behavior != null">#{behavior,jdbcType=VARCHAR},</if>
            <if test="content != null">#{content,jdbcType=VARCHAR},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
            <if test="ip != null">#{ip,jdbcType=VARCHAR},</if>
            <if test="ipSource != null">#{ipSource,jdbcType=VARCHAR},</if>
            <if test="os != null">#{os,jdbcType=VARCHAR},</if>
            <if test="browser != null">#{browser,jdbcType=VARCHAR},</if>
            <if test="times != null">#{times,jdbcType=NUMERIC},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="userAgent != null">#{userAgent,jdbcType=VARCHAR},</if>
            <if test="status != null">#{status,jdbcType=NUMERIC},</if>
        </trim>
    </insert>

    <update id="updateSelective">
        update log_visit
        <set>
            <if test="uuid != null">uuid=#{uuid,jdbcType=VARCHAR},</if>
            <if test="uri != null">uri=#{uri,jdbcType=VARCHAR},</if>
            <if test="method != null">method=#{method,jdbcType=VARCHAR},</if>
            <if test="param != null">param=#{param,jdbcType=VARCHAR},</if>
            <if test="behavior != null">behavior=#{behavior,jdbcType=VARCHAR},</if>
            <if test="content != null">content=#{content,jdbcType=VARCHAR},</if>
            <if test="remark != null">remark=#{remark,jdbcType=VARCHAR},</if>
            <if test="ip != null">ip=#{ip,jdbcType=VARCHAR},</if>
            <if test="ipSource != null">ip_source=#{ipSource,jdbcType=VARCHAR},</if>
            <if test="os != null">os=#{os,jdbcType=VARCHAR},</if>
            <if test="browser != null">browser=#{browser,jdbcType=VARCHAR},</if>
            <if test="times != null">times=#{times,jdbcType=NUMERIC},</if>
            <if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="userAgent != null">user_agent=#{userAgent,jdbcType=VARCHAR},</if>
            <if test="status != null">status=#{status,jdbcType=NUMERIC},</if>
        </set>
        where id = #{id,jdbcType=NUMERIC}
    </update>

</mapper>