<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yond.blog.mapper.OperationLogMapper">

    <resultMap id="log" type="com.yond.blog.entity.OperationLogDO">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="uri" column="uri"/>
        <result property="method" column="method"/>
        <result property="param" column="param"/>
        <result property="description" column="description"/>
        <result property="ip" column="ip"/>
        <result property="ipSource" column="ip_source"/>
        <result property="os" column="os"/>
        <result property="browser" column="browser"/>
        <result property="times" column="times"/>
        <result property="createTime" column="create_time"/>
        <result property="userAgent" column="user_agent"/>
    </resultMap>

    <!--查询日志-->
    <select id="listByDate" resultMap="log">
        select id, username, uri, method, param, description, ip, ip_source, os, browser, times, create_time
        from operation_log
        <where>
            <if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
                create_time between #{startDate} and #{endDate}
            </if>
        </where>
    </select>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        insert into operation_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="uri != null">uri,</if>
            <if test="method != null">method,</if>
            <if test="param != null">param,</if>
            <if test="description != null">description,</if>
            <if test="ip != null">ip,</if>
            <if test="ipSource != null">ip_source,</if>
            <if test="os != null">os,</if>
            <if test="browser != null">browser,</if>
            <if test="times != null">times,</if>
            <if test="createTime != null">create_time,</if>
            <if test="userAgent != null">user_agent,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=NUMERIC},</if>
            <if test="username != null">#{username,jdbcType=VARCHAR},</if>
            <if test="uri != null">#{uri,jdbcType=VARCHAR},</if>
            <if test="method != null">#{method,jdbcType=VARCHAR},</if>
            <if test="param != null">#{param,jdbcType=VARCHAR},</if>
            <if test="description != null">#{description,jdbcType=VARCHAR},</if>
            <if test="ip != null">#{ip,jdbcType=VARCHAR},</if>
            <if test="ipSource != null">#{ipSource,jdbcType=VARCHAR},</if>
            <if test="os != null">#{os,jdbcType=VARCHAR},</if>
            <if test="browser != null">#{browser,jdbcType=VARCHAR},</if>
            <if test="times != null">#{times,jdbcType=NUMERIC},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="userAgent != null">#{userAgent,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <delete id="deleteById">
        delete from operation_log where id=#{id}
    </delete>

</mapper>