<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yond.blog.mapper.SiteSettingMapper">

    <resultMap id="BaseResultMap" type="com.yond.blog.entity.SiteSettingDO">

    </resultMap>

    <sql id="ALL_FILED">
        id as id,
        name_en as nameEn,
        name_zh as nameZh,
        value as value,
        type as type
    </sql>

    <select id="listAll" resultMap="BaseResultMap">
        select <include refid="ALL_FILED"/>  from site_setting
    </select>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        insert into site_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="nameEn != null">name_en,</if>
            <if test="nameZh != null">name_zh,</if>
            <if test="value != null">value,</if>
            <if test="type != null">type,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=NUMERIC},</if>
            <if test="nameEn != null">#{nameEn,jdbcType=VARCHAR},</if>
            <if test="nameZh != null">#{nameZh,jdbcType=VARCHAR},</if>
            <if test="value != null">#{value,jdbcType=VARCHAR},</if>
            <if test="type != null">#{type,jdbcType=NUMERIC},</if>
        </trim>
    </insert>


    <update id="updateSelective">
        update site_setting
        <set>
            <if test="nameEn != null">name_en=#{nameEn,jdbcType=VARCHAR},</if>
            <if test="nameZh != null">name_zh=#{nameZh,jdbcType=VARCHAR},</if>
            <if test="value != null">value=#{value,jdbcType=VARCHAR},</if>
            <if test="type != null">type=#{type,jdbcType=NUMERIC},</if>
        </set>
        where id = #{id,jdbcType=NUMERIC}
    </update>


</mapper>
